.experience {
  background-color: #181818;
  padding: 20px;

  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
  transform: translateY(-3px);
}
.experience:hover{
  border: 2px solid #f50505;
}

.experience ul {
  list-style: none;
  padding: 0;
}

.experience li {
  margin: 10px 0;
}