.projects {
  background-color: #181818;
  padding: 20px;

  border-radius: 10px;
  color: #fff;
  margin-top: 20px;
  
}

.projects:hover {
  border: 2px solid #f50505;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.project-item {
  cursor: pointer;
  position: relative;
}

.project-item img {
  width: 60%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: tvStatic 2.5s infinite;
}

@keyframes tvStatic {
  0%, 70% {
    filter: url(#static-noise);
    opacity: 0.85;
  }
  75%, 90% {
    filter: none;
    opacity: 1;
  }
  95%, 100% {
    filter: url(#static-noise);
    opacity: 0.85;
  }
}

.project-item:hover img {
  filter: none;
  transform: scale(1.05);
  border-radius: 2px;
  border: 2px solid #f50505;
  animation: none;
}

/* Estilos para o conteúdo do modal */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-title {
  font-size: 24px;
  color: #4caf50;
  text-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
  margin: 0;
}

.modal-description {
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.modal-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-links li {
  margin: 10px 0;
}

.modal-links a {
  color: #4caf50;
  text-decoration: none;
  transition: color 0.3s ease;
}

.modal-links a:hover {
  color: #f50505;
}