.skills {
  background-color: #181818;
  padding: 20px;
 
  border-radius: 10px;
  color: #fff;
  margin-top: 16px;

  font-size: 20px;
  height: 300px;
  overflow: hidden;
}

.skills:hover {
  border: 2px solid #f50505;
}

.skills-container {
  display: grid;
  grid-template-columns: 400px 60px 1fr;
  align-items: start;
  padding: 20px;
}

.skills-divider {
  width: 4px;
  height: 220px;
  background-color: #585a58;
  margin-top: 10px;
  border-radius: 100px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  /* Limita a largura à primeira coluna do grid */
}

.skills-text {
  width: 300px;
  height: 220px;
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  text-align: justify;
  padding:  10px 50px;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.skills-container-frontend {
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.skills h3 {
  font-size: 14px;
  margin: 5px;
}

/* Definindo o espaço para as imagens rolarem e ajustando a animação */
.skills-img {
  display: flex;
  flex-wrap: nowrap; /* Mantém as imagens em uma linha */
  width: 300px;
  overflow: hidden;  
     /* Limita ao tamanho da coluna do grid */
  position: relative;
}

.skills-img-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 20s linear infinite;
  /* Animação contínua */
}

.skills-img img {
  width: 60px;
  margin: 5px;
  border-radius: 10px;
  flex-shrink: 0; /* Impede que as imagens sejam comprimidas */
  
}

.skills-img img:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
  border: #f50505 2px solid;
  flex-shrink: 0;
}

/* Definição da animação de esteira */
@keyframes marquee {
  0% {
    transform: translateX(0);
    /* Começa no início */
  }

  100% {
    transform: translateX(-50%);
    /* Move até a metade do conteúdo duplicado */
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  /* Fundo escuro */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00ff88, #fafafa);
  /* Gradiente azul para verde tech */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f7f8fa, #ec0202);
}